.app-router {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .app-header {
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        background-color: white;
        border-radius: 5px;
        box-sizing: border-box;
        padding: 10px;
    }

    .app-content {
        width: 100%;
        height: 100%;
        background-color: white;
        border-radius: 5px;
        box-sizing: border-box;
        padding: 10px;
        margin-top: 10px;
        overflow-x: auto;

        .el-table {
            min-width: 1200px;
        }

        .el-input-number {
            width: 100%;
        }

        .el-select {
            width: 100%;
        }

        :deep(.el-table) {
            width: 100% !important;
        }
    }

    .app-create {
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
        display: flex;
        flex-direction: column;

        >div {
            display: flex;
            flex-direction: column;
            margin: 10px 0;

            >span {
                margin-bottom: 5px;
            }
        }

        .el-button {
            align-self: flex-end;
        }
    }
}